.bangdiem_students-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.bangdiem_students-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
  margin-top: 20px;
}

.bangdiem_students-table th,
.bangdiem_students-table td {
  border: 1px solid #999;
  padding: 8px 12px;
  vertical-align: middle;
}

.bangdiem_students-table th:nth-child(1),
.bangdiem_students-table td:nth-child(1) {
  width: 5%;
  text-align: center;
}

.bangdiem_students-table th:nth-child(2),
.bangdiem_students-table td:nth-child(2) {
  width: 50%;
}

.bangdiem_students-table th:nth-child(3),
.bangdiem_students-table td:nth-child(3) {
  width: 20%; 
  text-align: center;
}

.bangdiem_students-table th:nth-child(4),
.bangdiem_students-table td:nth-child(4) {
  width: 8%;
  text-align: center;
}

.bangdiem_students-table th:nth-child(5),
.bangdiem_students-table td:nth-child(5) {
  width: 7%;
  text-align: center;
}

.bangdiem_students-table th:nth-child(6),
.bangdiem_students-table td:nth-child(6) {
  width: 10%;
  text-align: center;
}
.section-total, .rank-row, .all-total{
  text-align: center;
}
.bangdiem_students-table thead {
  background-color: #ccc;
}

.bangdiem_students-buttons {
  display: flex;
  justify-content: flex-end; /* đẩy về bên phải */
  gap: 10px;
  margin-top: 20px;
}

.bangdiem_students-btn {
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.bangdiem_students-btn:hover {
  background-color: #0055a5;
}
.bangdiem_students-select {
  padding: 5px;
  font-size: 14px;
}
.textbox-input {
  width: 45px;      
  padding: 3px 5px; 
  font-size: 13px;   
  text-align: center;
  border-radius: 3px;
  border: 1px solid #999;
}